---
import type { CollectionEntry } from 'astro:content';

export interface ProjectCardProps {
  project: CollectionEntry<'projects'>;
}

const { data } = (Astro.props as ProjectCardProps).project;
---

<div class='project-card'>
  <h3>{data.title}</h3>
  <p>{data.description}</p>
</div>
