---
import type { CollectionEntry } from 'astro:content';

export interface ProjectCardProps {
  project: CollectionEntry<'projects'>;
}

const { data } = (Astro.props as ProjectCardProps).project;
---

<div class='project-card p-3 rounded-lg'>
  <h3>{data.title}</h3>
  <p>{data.description}</p>
</div>

<style define:vars={{data}}>
  .project-card {
    width: 100%;
    height: 100%;
  }
</style>
