---
import ArrowExternal from '@components/icons/ArrowExternal.astro';
import Bankinter from '@components/icons/Bankinter.astro';
import Celonis from '@components/icons/Celonis.astro';
import DixperLogo from '@components/icons/DixperLogo.astro';
import Dreamfit from '@components/icons/Dreamfit.astro';
import LaLigaLogo from '@components/icons/LaligaLogo.astro';
import {
  BANKINTER,
  CELONIS,
  DIXPER,
  DREAMFIT,
  LALIGA,
} from '@models/projects.model';
import { CollectionEntry } from 'astro:content';
import ProjectTechIcon from './ProjectTechIcon.astro';

export interface ProjectHeaderProps {
  project: CollectionEntry<'projects'>['data'];
}

const { project } = Astro.props as ProjectHeaderProps;

const iconMap = {
  [CELONIS]: Celonis,
  [LALIGA]: LaLigaLogo,
  [DIXPER]: DixperLogo,
  [BANKINTER]: Bankinter,
  [DREAMFIT]: Dreamfit,
};
const IconComponent = iconMap[project.id as keyof typeof iconMap];
---

<div
  class='flex flex-col md:flex-row items-start md:items-end gap-6 md:gap-14 px-2 md:px-0'
>
  <div
    class='flex-1 flex flex-col justify-between items-between gap-0 md:gap-2 w-full'
  >
    <div class='flex flex-row justify-between items-center'>
      {IconComponent && <IconComponent size={{ width: 100, height: 60 }} />}
      <a
        href={project.url}
        target='_blank'
        class='flex flex-row items-center gap-1 hover:-translate-y-1 transition-transform duration-300'
      >
        <span
          class='text-base-600 text-sm hover:text-base-300 transition-colors duration-300'
          >Visit website</span
        >
        <ArrowExternal size={{ width: 16, height: 16 }} />
      </a>
    </div>
    <p class='description text-base-600 text-sm'>{project.description}</p>
  </div>
  <div class='flex flex-1 flex-col h-full'>
    <div class='flex flex-col justify-end items-start gap-2 grow pb-1'>
      <span class='text-base-600 text-sm'>Techs worked</span>
      <span class='flex flex-row justify-start items-center gap-2'>
        {
          project.stack.map((tech) => (
            <ProjectTechIcon
              techIcon={tech.icon}
              size={{ width: 26, height: 26 }}
            />
          ))
        }
      </span>
    </div>
  </div>
</div>
