---
import { getCollection, type CollectionEntry } from 'astro:content';
import ProjectCard from './ProjectCard.astro';
import MouseWheel from '@components/icons/MouseWheel.astro';
import SliderMarkers from './SliderMarkers.astro';

const projects: CollectionEntry<'projects'>[] = await getCollection('projects');
const sortedProjects = projects.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const numCards = sortedProjects.length;
---

<div data-component='carousel'>
  <SliderMarkers sortedProjects={sortedProjects} />
  <ul class="entries rounded-lg" tabindex="0">
    {
      sortedProjects.map((project, index) => (
        <li class="rounded-lg">
          <a data-component='project-wrapper' name={`carousel_${index}`} href={`#carousel_${index}`}>
            <ProjectCard project={project} />
          </a>
        </li>
      ))
    }
  </ul>
  <div class="absolute bottom-16 left-1/2">
    <MouseWheel />
  </div>
</div>

<style define:vars={{ numCards }}>
  @supports (animation-timeline: view()) {
    [data-component="carousel"] {
      timeline-scope: --carousel;
      .entries {
        scroll-timeline: --carousel y;
      }
    }
  }

  [data-component='carousel'] {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .entries {
      display: flex;
      flex-direction: column;
      gap: 16px;
      overflow-x: scroll;
      scroll-snap-type: y mandatory;
      scrollbar-width: none;
      scroll-behavior: smooth;
      overscroll-behavior: contain;
      width: 100%;
      height: 100%;

      li {
        scroll-snap-align: center;
        flex: 100% 1 0;
        display: flex;

        a[data-component='project-wrapper'] {
          cursor: default;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    [data-component='carousel'] {
      .entries {
        height: 100dvh;
        overflow-y: hidden;
        touch-action: pan-y;
      }
    }
  }
</style>