---
import Celonis from '@components/icons/Celonis.astro';
import LaLiga from '@components/icons/LaLiga.astro';
import Dixper from '@components/icons/Dixper.astro';
import Bankinter from '@components/icons/Bankinter.astro';
import { type CollectionEntry } from 'astro:content';
import Dreamfit from '@components/icons/Dreamfit.astro';
import { DREAMFIT, LALIGA, DIXPER, BANKINTER, CELONIS } from '@models/projects.model';

interface MarkerProps {
  sortedProjects: CollectionEntry<'projects'>[];
}

const { sortedProjects }: MarkerProps = Astro.props as MarkerProps;

const iconMap = {
  [CELONIS]: Celonis,
  [LALIGA]: LaLiga,
  [DIXPER]: Dixper,
  [BANKINTER]: Bankinter,
  [DREAMFIT]: Dreamfit
};
---

<ul class="absolute left-1/2 -translate-x-1/2 top-2 flex flex-row justify-start gap-3 z-10">
  {
    sortedProjects.map((project, index) => {
      const IconComponent = iconMap[project.data.id as keyof typeof iconMap];
      return (
        <li>
          <a href={`#carousel_${index}`} class={`bg-transparent p-1`}>
            {IconComponent && <IconComponent />}
          </a>
        </li>
      )
    })
  }
</ul>

<style>
  ul {
    a {
      animation: colorize-mark linear;
      animation-timeline: --carousel;
      animation-range: calc((var(--i) - 1) * 20%) calc(var(--i) * 20% + 1px);
      position: relative;
      display: flex;
      transition: transform 0.15s linear;

      &:hover::after {
        content: '';
        width: 25px;
        height: 25px;
        background: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(40px) saturate(400%);
        z-index: -1;
      }
      &:hover {
        transform: scale(0.9);
      }
    }
    li {
      &:nth-child(1) { --i: 1; }
      &:nth-child(2) { --i: 2; }
      &:nth-child(3) { --i: 3; }
      &:nth-child(4) { --i: 4; }
      &:nth-child(5) { --i: 5; }
    }
  }

  @keyframes colorize-mark {
    0%, 100% {
      border-bottom: 2px solid hsl(var(--primary));
    }
  }
</style>