---
import ArrowToTop from '@components/icons/ArrowToTop.astro';
import Bankinter from '@components/icons/Bankinter.astro';
import Celonis from '@components/icons/Celonis.astro';
import Dixper from '@components/icons/Dixper.astro';
import Dreamfit from '@components/icons/Dreamfit.astro';
import LaLiga from '@components/icons/LaLiga.astro';
import {
  BANKINTER,
  CELONIS,
  DIXPER,
  DREAMFIT,
  LALIGA,
} from '@models/projects.model';
import { type CollectionEntry } from 'astro:content';

interface MarkerProps {
  sortedProjects: CollectionEntry<'projects'>[];
}

const { sortedProjects }: MarkerProps = Astro.props as MarkerProps;

const iconMap = {
  [CELONIS]: Celonis,
  [LALIGA]: LaLiga,
  [DIXPER]: Dixper,
  [BANKINTER]: Bankinter,
  [DREAMFIT]: Dreamfit,
};
---

<ul
  class='w-[275px] md:max-w-max absolute left-1/2 -translate-x-1/2 top-3 flex flex-row justify-start gap-3 bg-neutral-200 dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-800 rounded-xl shadow-xl px-2 py-1 md:px-2 md:py-2 z-10'
>
  {
    sortedProjects.map((project, index) => {
      const IconComponent = iconMap[project.data.id as keyof typeof iconMap];
      return (
        <li>
          <a
            href={`#project_${index}`}
            aria-label={`sergio rodriguez gundin project ${index} link`}
            class={`bg-transparent p-0.5`}
          >
            {IconComponent && (
              <IconComponent size={{ width: 30, height: 30 }} />
            )}
          </a>
        </li>
      );
    })
  }
  <div class='md:hidden flex flex-row justify-center items-center'>
    <div
      data-orientation='vertical'
      role='none'
      class='shrink-0 bg-base-900 w-px mx-2 h-full'
    >
    </div>
    <li class='flex flex-row items-center justify-center'>
      <button
        class='flex flex-row items-center justify-center'
        onclick='window.scrollTo({ top: 0, behavior: "smooth" }); return false;'
      >
        <ArrowToTop size={{ width: 24, height: 24 }} />
      </button>
    </li>
  </div>
</ul>

<style>
  ul {
    > li > a {
      animation: colorize-mark linear;
      animation-timeline: --project;
      animation-range: calc((var(--i) - 1) * 20%) calc(var(--i) * 20% + 1px);
      position: relative;
      display: flex;
      transition: transform 0.15s linear;

      &:hover::after {
        content: '';
        width: 25px;
        height: 25px;
        background: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(40px) saturate(400%);
        z-index: -1;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    > li {
      &:nth-child(1) {
        --i: 1;
      }
      &:nth-child(2) {
        --i: 2;
      }
      &:nth-child(3) {
        --i: 3;
      }
      &:nth-child(4) {
        --i: 4;
      }
      &:nth-child(5) {
        --i: 5;
      }
    }
  }

  @keyframes colorize-mark {
    0%,
    100% {
      border-bottom: 2px solid hsl(var(--primary));
    }
  }
</style>
