---
import Email from '@components/icons/email.astro';
import Linkedin from '@components/icons/linkedin.astro';
---

<div class='contact flex flex-column flex-center gap-3'>
  <button class='contact-button flex'>
    <Linkedin />
  </button>
  <button class='contact-button flex'>
    <Email />
  </button>
</div>

<style>
  .contact {
    padding: var(--space-4);
  }
  button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .contact-button {
    border: 1.5px solid var(--color-100);
    border-radius: 50%;
    padding: var(--space-3);
    margin: 0;
  }
</style>
