---
import Email from '@components/icons/Email.astro';
import GitHub from '@components/icons/GitHub.astro';
import Linkedin from '@components/icons/Linkedin.astro';
import OutlineButton from '@components/OutlineButton.astro';
---

<div class='contact flex flex-column flex-start gap-3 p-2'>
  <OutlineButton isRounded={true} text='Linkedin'>
    <Linkedin />
  </OutlineButton >
  <OutlineButton isRounded={true} text='GitHub'>
    <GitHub />
  </OutlineButton>
  <OutlineButton isRounded={true} text='Email'>
    <Email />
  </OutlineButton>
</div>
