---
import Email from '@components/icons/Email.astro';
import GitHub from '@components/icons/GitHub.astro';
import Linkedin from '@components/icons/Linkedin.astro';
import OutlineButton from '@components/OutlineButton.astro';
---

<div class='contact flex flex-column flex-center gap-3'>
  <OutlineButton isRounded={true}>
    <Linkedin />
  </OutlineButton >
  <OutlineButton isRounded={true}>
    <GitHub />
  </OutlineButton>
  <OutlineButton isRounded={true}>
    <Email />
  </OutlineButton>
</div>

<style>
  .contact {
    padding: var(--space-4) 0;
  }
</style>
