---
import Download from '@components/icons/Download.astro';
import Hand from '../icons/Hand.astro';
---

<button class="download-container flex flex-start gap-4">
  <div class="qr-code">
    <qr-code
      id="qrCV"
      contents="https://blog.bitjson.com/cashtokens-v2/"
      module-color="var(--black)"
      position-ring-color="var(--black)"
      position-center-color="var(--color-700)"     
      >
    </qr-code>
  </div>
  <div class="cv-container flex flex-column flex-start gap-2">
    <h4 class="download-cv-title">DOWNLOAD MY CV</h4>
    <p class="download-cv-text">Scan the QR to download my CV or click here to download it.
      <Hand size={{width: 20, height: 20}} />
    </p>
  </div>
  <div class="download-button">
    <Download size={{width: 20, height: 20}} />
  </div>
</button>

<script>
  import * as qr from "@bitjson/qr-code";

  qr.defineCustomElements(window);
  document.getElementById('qrCV')?.addEventListener('codeRendered', () => {
    document.getElementById('qrCV')?.animateQRCode('FadeInCenterOut');
  });
</script>

<style>
  .download-container {
    position: relative;
    background: hsl(from var(--global-color) h s 80%);
    padding: var(--space-4);
    border-radius: var(--border-4);
    margin-top: var(--space-6);
    box-shadow: var(--card-shadow);
    width: 100%;
  }
  .download-cv-title, .download-cv-text {
    color: var(--black);
  }
  .download-cv-text {
    font-size: var(--font-size-base);
    text-align: start;
  }
  .download-button {
    position: absolute;
    right: var(--space-4);
    top: var(--space-4);
  }
  #qrCV {
    display: block;
    width: 100px;
    height: 100px;
  }
</style>