---
import Download from '@components/icons/Download.astro';
---

<button class='download-button flex flex-start gap-3 rounded-xl p-2 mt-3'>
  <div class='qr-code'>
    <qr-code
      id='qrCV'
      contents={'/cv/SergioRodriguez.pdf'}
      module-color='var(--color-100)'
      position-ring-color='var(--color-100)'
      position-center-color='var(--primary-color)'
    >
    </qr-code>
  </div>
  <div class='cv-container flex flex-column flex-start gap-2'>
    <h4 class='download-cv-title'>DOWNLOAD MY CV</h4>
    <p class='download-cv-text mr-4'>
      Scan the QR or click here to download it.
    </p>
  </div>
  <div class='download-icon absolute right-2 top-2'>
    <Download size={{ width: 20, height: 20 }} />
  </div>
</button>

<script>
  import * as qr from '@bitjson/qr-code';

  qr.defineCustomElements(window);
  document.getElementById('qrCV')?.addEventListener('codeRendered', () => {
    (document.getElementById('qrCV') as any).animateQRCode('FadeInCenterOut');
  });
  
  const downloadButton = document.querySelector('.download-button');
  downloadButton?.addEventListener('click', () => {
    const link = document.createElement('a');
    link.href = '/cv/SergioRodriguez.pdf';
    link.download = 'sergio-rodriguez-cv.pdf';
    link.click();
  });
</script>

<style>
  .download-button {
    position: relative;
    border: 1px solid var(--color-900);
    box-shadow: var(--card-shadow);
    width: 100%;
  }
  .download-cv-title {
    color: var(--color-100);
  }
  .download-cv-text {
    color: var(--color-500);
    font-size: var(--font-size-base);
    text-align: start;
  }
  #qrCV {
    display: block;
    width: 100px;
    height: 100px;
  }

  @media (768px <= width <= 1920px) {
    #qrCV {
      width: 75px;
      height: 75px;
    }
    .download-cv-title {
      display: none;
    }
  }
</style>
