---
import { MagicCard } from '@components/magicui/magic-card';
---

<MagicCard
  className='cursor-pointer flex-col items-center justify-center shadow-xl whitespace-nowrap h-full w-full'
  client:load
>
  <button class='download-button flex flex-col gap-2 rounded-xl p-4 w-full'>
    <div class='flex flex-col justify-start items-start gap-1'>
      <span class='text-base-700 text-sm'>2024 CV</span>
      <span class='text-base-500 text-base'>RESUME</span>
    </div>
    <div class='flex justify-center items-center w-full'>
      <qr-code
        id='qrCV'
        contents={'/cv/SergioRodriguez.pdf'}
        module-color='hsl(var(--color-700))'
        position-ring-color='hsl(var(--color-800))'
        position-center-color='hsl(var(--primary))'
      >
      </qr-code>
    </div>
  </button>
</MagicCard>

<script>
  import * as qr from '@bitjson/qr-code';

  qr.defineCustomElements(window);
  document.getElementById('qrCV')?.addEventListener('codeRendered', () => {
    (document.getElementById('qrCV') as any).animateQRCode('FadeInCenterOut');
  });

  const downloadButton = document.querySelector('.download-button');
  downloadButton?.addEventListener('click', () => {
    const link = document.createElement('a');
    link.href = '/cv/SergioRodriguez.pdf';
    link.download = 'sergio-rodriguez-cv.pdf';
    link.click();
  });
</script>

<style>
  #qrCV {
    width: 200px;
    height: 200px;
  }
</style>
