---
import NumberTicker from '@components/magicui/number-ticker';


---

<div class='experience-container flex flex-row flex-space-around gap-2'>
  <div class='experience flex flex-column flex-start'>
    <span experience-years>
      <span>+</span>
      0<NumberTicker value={8} client:load/>
    </span>
    <span experience-text>Years of experience</span>
  </div>
  <div class='experience flex flex-column flex-start'>
    <span experience-years>
      <span>+</span>
      0<NumberTicker value={9} client:load/>
    </span>
    <span experience-text>Projects worked</span>
    </div>
  </div>
</div>

<style>
  .experience-container {
    container-type: inline-size;
    padding: var(--space-6) var(--space-4);
    width: 100%;

    @container (max-width: 375px) {
      padding: var(--space-4);
    }
  }
  .experience {
    > span[experience-years] {
      font-size: var(--font-size-xxxl);
      font-weight: bold;
      > span {
        font-size: var(--font-size-lg);
        font-weight: 300;
      }
    }
    > span[experience-text] {
      font-size: var(--font-size-base);
    }
    .tech-stack {
      margin-top: var(--space-3);
    }
  }
  
  @media (768px <= width <= 1920px) {
    .experience {
      > span[experience-years] {
        font-size: var(--font-size-xl);
        > span {
          font-size: var(--font-size-base);
        }
      }
      > span[experience-text] {
        font-size: var(--font-size-sm);
      }
      .tech-stack {
        display: none;
      }
    }
  }
</style>
