---
import { MagicCard } from '@components/magicui/magic-card';
---

<MagicCard
  className="cursor-pointer flex-col items-center justify-center shadow-xl whitespace-nowrap h-full w-full"
  client:load
>
  <h1>Journey</h1>
</MagicCard>

