---
import Picture from 'astro/components/Picture.astro';
import locationPicture from '@assets/images/location.webp';
---

<div class="location flex flex-row flex-center gap-2">
  <div class="location-data flex flex-column items-start flex-start gap-1">
    <p>Based in</p>
    <h3>Spain, Madrid</h3>
  </div>
  <Picture
      src={locationPicture}
      formats={['webp']}
      loading="lazy"
      width={450}
      height={350}
      alt="Sergio Rodriguez Gundin based on Spain"
      class="location-image"
  />
</div>

<style>
  .location {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-3);
    width: 100%;
    height: 100px;
  }

  .location-data {
    background: repeating-linear-gradient(90deg, var(--color-100), var(--color-100) 1px, transparent 1px, transparent 2px);
    --mask: linear-gradient(90deg, var(--color-100) 30%, rgba(0, 0, 0, .2) 90%, transparent);
    mask-image: var(--mask);
    -webkit-mask-image: var(--mask);
    padding: var(--space-3);
    border-top-left-radius: var(--border-3);
    border-bottom-left-radius: var(--border-3);
    width: 300px;
    height: 100px;
    > p {
      position: relative;
      font-size: var(--font-size-md);
      color: var(--color-3000);
    }
    > h3 {
      font-size: var(--font-size-lg);
      color: var(--color-3000);
    }
  }

  .location-image {
    /*filter: invert(1); TODO: Add a dark theme*/
    border-radius: var(--border-3);
    mask-image: linear-gradient(to right,transparent -4%,var(--color-3000) 50%);
  }
</style>
