---
import GradualSpacing from '@components/magicui/gradual-spacing';
import ShinyButton from '@components/magicui/shiny-button';
import ProfileImage from '@components/profile/ProfileImage.astro';
---

<div class="relative flex flex-col items-start justify-end overflow-clip w-full h-full">
  <div class="personal-information-image absolute top-0 right-0 z-[-1]">
    <ProfileImage/>
  </div>
  <section class="relative">
    <ShinyButton className='absolute -top-14 left-0' client:load>Say Hi!</ShinyButton>
    <div class="flex flex-col items-start gap-3 leading-8">
      <GradualSpacing
        className="font-prompt font-bold text-2xl text-base-300"
        text="Hello!"
        client:load
      />
      <GradualSpacing
        className="font-prompt font-bold text-2xl text-base-300"
        text="I'm Sergio"
        client:load
      />
      <h1 class="font-prompt font-bold text-base text-primary tracking-widest">SOFTWARE DEVELOPER</h1>
    </div>
    <div class="mt-4">
      <p class="text-base-600 text-sm">
        Welcome to my humble home on the web. I want to share with you my
        journey recap throw all the projects I've been working on.
      </p>
    </div>
  </section>
</div>

<style>
  .personal-information-image {
    mask-image: linear-gradient(to bottom, hsl(var(--color-100)), hsla(0, 0%, 0%, 0));
  }
</style>
