---
import { CollectionEntry } from 'astro:content';
import Milestone from './Milestone.astro';

export interface MilestonesProps {
  milestones: CollectionEntry<'projects'>['data']['milestones'];
  color: string;
}

const { milestones, color } = Astro.props as MilestonesProps;

const firstMilestone = milestones[0];
const restOfMilestones = milestones.slice(1);
---

<div class='grow flex flex-col gap-4 w-full px-2 md:px-0'>
  <div class='flex flex-col md:flex-row gap-6'>
    <Milestone milestone={firstMilestone} index={0} color={color} />
    <div class='flex-1 flex justify-start items-start gap-4 flex-wrap'>
      {
        restOfMilestones.map((milestone, index) => (
          <Milestone milestone={milestone} index={index + 1} color={color} />
        ))
      }
    </div>
  </div>
</div>
