  :root {
	  --color-light-100: hsl(0, 0%, 100%);
		--color-light-200: hsl(0, 0%, 98%);
		--color-light-300: hsl(0, 0%, 96%);
		--color-light-400: hsl(0, 0%, 90%);
		--color-light-500: hsl(0, 0%, 83%);
		--color-light-600: hsl(0, 0%, 64%);
		--color-light-700: hsl(0, 0%, 45%);
		--color-light-800: hsl(0, 0%, 32%);
		--color-light-900: hsl(0, 0%, 25%);
		--color-light-1000: hsl(0, 0%, 15%);
		--color-light-2000: hsl(0, 0%, 10%);
		--color-light-3000: hsl(0, 0%, 5%);


		--color-dark-100: hsl(0, 0%, 0%);
		--color-dark-200: hsl(0, 0%, 5%);
		--color-dark-300: hsl(0, 0%, 10%);
		--color-dark-400: hsl(0, 0%, 15%);
		--color-dark-500: hsl(0, 0%, 10%);
		--color-dark-600: hsl(0, 0%, 6%);
		--color-dark-700: hsl(0, 0%, 25%);
		--color-dark-800: hsl(0, 0%, 32%);
		--color-dark-900: hsl(0, 0%, 45%);
		--color-dark-1000: hsl(0, 0%, 64%);
		--color-dark-2000: hsl(0, 0%, 75%);
		--color-dark-3000: hsl(0, 0%, 85%);

		--text-black: hsl(60, 2%, 8%);
		--text-white: hsl(210, 20%, 98%);

		--global-color: hsl(64, 100%, 50%);

		--accent-gradient: linear-gradient(120deg, var(--global-color), var(--color-light-100) 30%, var(--color-light-100) 60%);
		--background-gradient: linear-gradient(var(--color-light-2000) 0%, transparent 100%);
		--shadow-black: var(--color-dark-100) 0px 6px 12px -2px, var(--color-light-3000) 0px 3px 7px -3px;

		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}

		p {
			color: var(--color-light-100);
			font-family: 'Roboto Mono Variable';
		}

		h1, h2, h3, h4, h5, h6 {
			color: var(--color-light-300);
			font-family: 'Prompt-400';
		}
  }