  :root {
		--color-100: hsl(0, 0%, 0%);
		--color-200: hsl(0, 0%, 4%);
		--color-300: hsl(0, 0%, 9%);
		--color-400: hsl(0, 0%, 15%);
		--color-500: hsl(0, 0%, 22%);
		--color-600: hsl(0, 0%, 32%);
		--color-700: hsl(0, 0%, 54%);
		--color-800: hsl(0, 0%, 64%);
		--color-900: hsl(0, 0%, 83%);
		--color-1000: hsl(0, 0%, 90%);
		--color-2000: hsl(0, 0%, 96%);
		--color-3000: hsl(0, 0%, 98%);

		--bg-color: hsl(0deg 0% 87.45%);
		--background-gradient: radial-gradient(200% 36.7% at 41.8% -2.80%, var(--color-2000, #101010) 0%, rgb(20 20 20) 100%)
		--bg-shadow: linear-gradient(90deg, rgb(255 255 255 / 42%) 0%, rgb(255 255 255 / 42%) 100%)
		--card-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

		--filter: invert(1);

		/*--primary-color-bg: hsl(from var(--primary-color) h s 80%);*/
		--primary-color: hsl(156, 72%, 67%);
		--black: hsl(0, 0%, 0%);
		--white: hsl(0, 0%, 100%);

		--accent-gradient: linear-gradient(120deg, var(--primary-color), var(--color-100) 30%, var(--color-100) 60%);
		--profile-card-height: 568px;

		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}

		p {
			color: var(--color-100);
			font-family: 'Roboto Mono Variable';
		}
		
		span {
			color: var(--color-500);
			font-family: 'Roboto Mono Variable';
		}

		h1, h2, h3, h4, h5, h6 {
			color: var(--color-300);
			font-family: 'Prompt-400';
		}

		h1 {
			font-size: var(--font-size-lg);
		}

		h2 {
			font-size: var(--font-size-md);
		}
  }

	[data-theme="dark"] {
		--color-100: hsl(0, 0%, 100%);
		--color-200: hsl(0, 0%, 98%);
		--color-300: hsl(0, 0%, 96%);
		--color-400: hsl(0, 0%, 90%);
		--color-500: hsl(0, 0%, 83%);
		--color-600: hsl(0, 0%, 64%);
		--color-700: hsl(0, 0%, 45%);
		--color-800: hsl(0, 0%, 32%);
		--color-900: hsl(0, 0%, 25%);
		--color-1000: hsl(0, 0%, 15%);
		--color-2000: hsl(0, 0%, 10%);
		--color-3000: hsl(0, 0%, 5%);

		--background-gradient: radial-gradient(200% 36.7% at 41.8% -2.80%, var(--color-2000, #101010) 0%, rgb(20 20 20) 100%);
		--bg-color: hsl(0, 0%, 4%);
		--bg-shadow: linear-gradient(90deg, rgb(255 255 255 / 42%) 0%, rgb(255 255 255 / 42%) 100%);

		--filter: invert(0);
	}

	[data-theme="light"] {
		--color-100: hsl(0, 0%, 0%);
		--color-200: hsl(0, 0%, 4%);
		--color-300: hsl(0, 0%, 9%);
		--color-400: hsl(0, 0%, 15%);
		--color-500: hsl(0, 0%, 22%);
		--color-600: hsl(0, 0%, 32%);
		--color-700: hsl(0, 0%, 54%);
		--color-800: hsl(0, 0%, 64%);
		--color-900: hsl(0, 0%, 83%);
		--color-1000: hsl(0, 0%, 90%);
		--color-2000: hsl(0, 0%, 96%);
		--color-3000: hsl(0, 0%, 98%);
		
		--background-gradient: radial-gradient(200% 36.7% at 41.8% -2.80%,var(--color-2000, #101010) 0%,rgb(15 15 15 / 2%) 100%);
		--bg-color: hsl(0deg 0% 87.45%);
		--bg-shadow: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0) 100%);

		--filter: invert(1);
	}