/* Fallback for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --font-size-sm: 0.7rem;
    --font-size-base: 0.88rem;
    --font-size-md: 1.09rem;
    --font-size-lg: 1.37rem;
    --font-size-xl: 1.71rem;
    --font-size-2xl: 2.14rem;
    --font-size-3xl: 2.67rem;
  }
  @media screen and (min-width: 1980px) {
    :root {
      --font-size-sm: 0.7rem;
      --font-size-base: 0.94rem;
      --font-size-md: 1.25rem;
      --font-size-lg: 1.66rem;
      --font-size-xl: 2.21rem;
      --font-size-2xl: 2.93rem;
      --font-size-3xl: 3.9rem;
    }
  }
}