---
import GradualSpacing from '@components/magicui/gradual-spacing';
import Experience from '@components/profile/Experience.astro';
import ProfileImage from '@components/profile/ProfileImage.astro';
---

<div class='personal-information-card'>
  <div class='personal-information-card-image'>
    <ProfileImage />
  </div>
  <section class='personal-information-card-content'>
    <div class='card-title'>
      <GradualSpacing
        className="font-size-base text-primary"
        text="SOFTWARE DEVELOPER"
        client:load
      />
      <div class="card-title-main mt-2">
        <GradualSpacing
          className="font-prompt font-bold text-3xl text-base-100 dark:text-base-3000"
          text="Hello!"
          client:load
        />
        <GradualSpacing
          className="font-prompt font-bold text-3xl text-base-100 dark:text-base-3000"
          text="I'm Sergio"
          client:load
        />
      </div>
    </div>
    <div class='card-description'>
      <p class='text-base-100 dark:text-base-3000'>
        Welcome to my humble home on the web. I want to share with you my
        journey recap throw all the projects I've been working on.
      </p>
    </div>
    <Experience />
  </section>
</div>

<style>
  .personal-information-card {
    container: personal-information-card / size;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .personal-information-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .card-title-main {
    line-height: 3.8rem;
  }
  .card-description {
    > p {
      font-size: var(--font-size-base);
      line-height: 1.6rem;
    }
  }
  .personal-information-card-contact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  @container personal-information-card (width <= 400px) {
    .personal-information-card-image {
      --profile-card-height: 375px;
    }
  }

  @container personal-information-card (width >= 500px) {
    .personal-information-card-image {
      --profile-card-height: 568px;
    }
  }
</style>
