---
import BlurIn from '@components/magicui/blur-in';
import HyperText from '@components/magicui/hyper-text';
import Contact from '@components/profile/Contact.astro';
import Curriculum from '@components/profile/Curriculum.astro';
import Experience from '@components/profile/Experience.astro';
import Location from '@components/profile/Location.astro';
import ProfileImage from '@components/profile/ProfileImage.astro';
---

<div class='personal-information-card'>
  <div class='personal-information-card-contact'>
    <Contact />
  </div>
  <div class='personal-information-card-image'>
    <ProfileImage />
  </div>
  <section class='personal-information-card-content'>
    <div class='card-title'>
      <BlurIn word={"Hello!"} className='font-size-xxl' client:load></BlurIn>
      <BlurIn word={"I'm Sergio"} className='font-size-xxxl' client:load></BlurIn>
    </div>
    <div class='card-description'>
      <p>
        Welcome to my humble home on the web. I want to share with you my
        journey recap as a <span software-developer>Software Developer</span>.
      </p>
    </div>
    <Experience />
    <span class='divider'></span>
    <div class='personal-information-card-curriculum'>
      <Location />
    </div>
  </section>
</div>

<style>
  .personal-information-card {
    container: personal-information-card / size;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .personal-information-card-content {
    position: absolute;
    top: calc(50vh - var(--profile-card-height) / 3);
    left: 0;
    width: 100%;
    height: 100%;
  }
  .card-title {
    line-height: 3.5rem;
  }
  .card-description {
    > p {
      font-size: var(--font-size-md);
      line-height: 1.6rem;
      margin-top: var(--space-4);
      span[software-developer] {
        font-size: var(--font-size-base);
        text-transform: uppercase;
        color: var(--primary-color);
      }
    }
  }
  .personal-information-card-contact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .personal-information-card-curriculum {
    margin-top: var(--space-7);
  }

  @container personal-information-card (width <= 400px) {
    .personal-information-card-image {
      --profile-card-height: 375px;
    }
  }

  @container personal-information-card (width >= 500px) {
    .personal-information-card-image {
      --profile-card-height: 568px;
    }
  }
</style>
