---
import Contact from '@components/profile/Contact.astro';
import Experience from '@components/profile/Experience.astro';
import ProfileImage from '@components/profile/ProfileImage.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
---

<div class='personal-information-card'>
  <ThemeToggle />
  <div class='personal-information-card-image'>
    <ProfileImage />
  </div>
  <div class='personal-information-card-text'>
    <h1>Hello!</h1>
    <h1>I'm Sergio</h1>
  </div>
  <div class='personal-information-card-text-description'>
    <p>
      Welcome to my humble home on the web. I want to share with you my journey
      recap as a <span software-developer>Software Developer</span> and my experiences.
    </p>
  </div>
  <Experience />
  <span class='divider'></span>
  <div class='personal-information-card-contact'>
    <Contact />
  </div>
</div>

<style>
  .personal-information-card {
    container: personal-information-card / size;

    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .personal-information-card-text { 
    position: absolute;
    top: calc(50% - var(--space-10));
    line-height: 4.5rem;
    > h1 {
      font-size: var(--font-size-xxxl);
    }
  }
  .personal-information-card-text-description {
    > p {
      margin-top: var(--space-4);
      span[software-developer] {
        color: var(--color-100);
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  .personal-information-card-contact {
    position: absolute;
    top: 0;
    left: 0;
  }

  @container personal-information-card (width <= 400px) {
    .personal-information-card-image {
      height: 375px;
    }
  }

  @container personal-information-card (width >= 500px) {
    .personal-information-card-image {
      height: 575px;
    }
  }

</style>
