---
import ProjectCards from '@components/projects/ProjectCards.astro';
---

<div class='projects'>
  <ProjectCards />
</div>

<style>
  .projects {
    position: relative;
    overflow-y: scroll;
    height: calc(100dvh - (@apply w-2));
    width: 100%;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
</style>
