---
import Card from '@components/Card.astro';
import PersonalInformation from '@components/sections/PersonalInformation.astro';
import Layout from '@layouts/Layout.astro';
import ProjectSliders from '@components/projects/ProjectSliders.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
import Particles from '@components/magicui/particles.tsx';
---
<Layout
  title="Hi! I'm Sergio. I'm a software developer from Spain."
  description='This is the mockup of the home page of my portfolio.'
>
  <Particles
    className='particles'
    quantity={100}
    ease={80}
    color='#ffffff'
    refresh
    client:load
/>
  <ThemeToggle />
  <div class='layout'>
    <div class='personal-information'>
      <Card title='About me'>
        <PersonalInformation />
      </Card>
    </div>
    <div class='my-proyects flex flex-center'>
      <ProjectSliders />
    </div>
    <div class='my-status'>
      <Card title='Status'>
        <p>Status</p>
      </Card>
    </div>
    <div class='hobbies'>
      <Card title='Hobbies'>
        <p>Hobbies</p>
      </Card>
    </div>
  </div>
</Layout>

<style>
  .layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 0 auto; 
    height: 100%;
    max-width: 1920px;
    width: 100%; 
  }
  .personal-information {
    grid-area: 1 / 1 / 3 / 2;
  }
  .my-proyects {
    position: relative;
    grid-area: 1 / 2 / 2 / 4;
    width: 100%;
  }
  .my-status {
    grid-area: 2 / 2 / 3 / 3;
  }
  .hobbies {
    grid-area: 2 / 3 / 3 / 4;
  }
  @media (1440px <= width <= 1920px) {
    .layout {
      max-width: 1320px;
    }
  }
</style>
