---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hi! I'm Sergio. I'm a software developer from Spain.">
	<main>
		<h1>Hi! I'm <span class="text-gradient">Sergio</span>. I'm a software developer from Spain</h1>
		<p class="instructions">
			This is the mockup of the home page of my portfolio.
		</p>
	</main>
</Layout>

<style>
</style>
