---
import Card from '@components/Card.astro';
import Experience from '@components/profile/Experience.astro';
import Location from '@components/profile/Location.astro';
import ProjectSliders from '@components/projects/ProjectSliders.astro';
import PersonalInformation from '@components/profile/PersonalInformation.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
import ParticlesTheme from '@components/ui/ParticlesTheme';
import Layout from '@layouts/Layout.astro';
---
<Layout
  title="Hi! I'm Sergio. I'm a software developer from Spain."
  description='This is the mockup of the home page of my portfolio.'
>
  <ParticlesTheme client:load/>
  <ThemeToggle />
  <div class='layout mx-auto my-auto py-6'>
    <div class='say-hello'>
      <PersonalInformation />
    </div>
    <div class='about-me flex flex-col gap-4'>
      <Experience />
      <Card>
        <h1 class='text-primary'>github, linkedin, etc</h1>
        <h1 class='text-primary'>curriculum</h1>
      </Card>
      <Card>
        <Location />
      </Card>
    </div>
    <div class="tech-love">
      <Card>
        <h1 class='text-primary'>tech love</h1>
      </Card>
    </div>
    <div class="my-journey">
      <Card>
        <h1 class='text-primary'>my journey</h1>
      </Card>
    </div>
    <div class='my-proyects flex flex-center'>
      <ProjectSliders />
    </div>
  </div>
</Layout>

<style>
  .layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    height: 100%;
    max-width: 1200px;
    width: 100%; 
  }
  .say-hello {
    grid-area: 1 / 1 / 2 / 2;
  }
  .about-me {
    grid-area: 2 / 1 / 3 / 2;
  }
  .tech-love {
    grid-area: 1 / 2 / 2 / 3;
  }
  .my-journey {
    grid-area: 1 / 3 / 2 / 4;
  }
  .my-proyects {
    position: relative;
    grid-area: 2 / 2 / 3 / 4;
    width: 100%;
  }
</style>
