---
interface CardProps {
  title: string;
}

const { title = 'title' } = Astro.props as CardProps;
---

<div class='card'>
  <h2 class='title'>{title}</h2>
  <div class='card-content'>
    <slot />
  </div>
</div>

<style>
  .card {
    position: relative;
    height: 100%;
  }

  .card-content {
    background: var(--bg-color);
    background-image: var(--background-gradient);
    border-radius: var(--border-3);
    padding: var(--space-8) var(--space-4);
    clip-path: polygon(38% 0, 100% 0, 100% 100%, 0 100%, 0 45px, 30% 45px);
    height: 100%;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: var(--space-4);
  }
</style>
