---
---

<div class="sticky-tape flex flex-center gap-2">
  <div class="taped-move">
    <span class="sticky-tape__text">
      text 1
    </span>
    <span class="sticky-tape__text">
      text 2
    </span>
    <span class="sticky-tape__text">
      text 3
    </span>
    <span class="sticky-tape__text">
      text 4
    </span>
    <span class="sticky-tape__text">
      text 5
    </span>
    <span class="sticky-tape__text">
      text 6
    </span>
    <span class="sticky-tape__text">
      text 7
    </span>
    <span class="sticky-tape__text">
      text 8
    </span>
  </div>
</div>

<style>
  .sticky-tape {
    position: relative;
    background-color: var(--black);
    padding: var(--space-2);
    width: 100%;
    overflow: hidden;
  }
  
  .taped-move {
    animation: sticky-tape-animation 10s linear infinite;
    width: 100%;
    > span {
      color: var(--white);
    }
  }

  @keyframes sticky-tape-animation {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
</style>