<div class='mouse'>
  <div class='mouse-wheel'></div>
</div>

<style>
  .mouse {
    position: absolute;
    display: inline-block;
    border-radius: 14px;
    border: 2px solid var(--color-700);
    bottom: 10px;
    margin: auto;
    transform: none;
    cursor: pointer;
    height: 42px;
    width: 24px;
    z-index: 1;
  }

  .mouse-wheel {
    position: relative;
    display: block;
    background: var(--color-600);
    border-radius: var(--border-3);
    margin: var(--space-2) auto;
    height: var(--space-2);
    width: var(--space-1);
    animation: mouse-wheel 1.5s ease-in-out infinite;
    will-change: opacity, transform;
  }

  @keyframes mouse-wheel {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(8px);
    }
  }
</style>
