<div class='mouse rounded-lg bottom-3'>
  <div class='mouse-wheel rounded-lg mx-2 my-auto w-2 h-8'></div>
</div>

<style>
  .mouse {
    position: absolute;
    display: inline-block;
    border: 2px solid var(--color-700);
    margin: auto;
    transform: none;
    cursor: pointer;
    height: 42px;
    width: 24px;
    z-index: 1;
  }

  .mouse-wheel {
    position: relative;
    display: block;
    background: var(--color-600);
    animation: mouse-wheel 1.5s ease-in-out infinite;
    will-change: opacity, transform;
  }

  @keyframes mouse-wheel {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(8px);
    }
  }
</style>
