---
import '@styles/globals.css';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Prompt-200', sans-serif;
		font-size: var(--font-size-base);
		background: var(--color-3000);
	}
	body {
		position: relative;
		overflow: hidden;
		padding: @apply p-5;
	}
</style>
