---
import SEO from '@components/SEO.astro';
import '@styles/globals.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <SEO {title} {description} canonical={Astro.url.href} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: 'Roboto Mono Variable', sans-serif;
    font-size: var(--font-size-base);
    background: hsl(var(--background));
  }
  body {
    position: relative;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    body {
      overflow: auto;
    }
  }
</style>
